.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#loginas {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
}

#delete-camp-form {
    display: inline;
}

#delete-comment-form {
    display: inline;
}